src/main/mule/world-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7124c721-3941-4873-8958-e3b87ddd60e6" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="2d91aba0-1943-404f-a7d2-f9d4d8fe992a" basePath="/api/timezone">
		<http:request-connection host="worldtimeapi.org"/>
	</http:request-config>
	<flow name="world-demo-apiFlow" doc:id="d7fa7614-c06d-4d8a-a723-78c3dd8950bd" >
		<http:listener doc:name="Listener" doc:id="791b5c18-c860-453d-96d4-c0da21886904" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<logger level="INFO" doc:name="Logger" doc:id="f9e8abd7-2246-416d-9052-cad7aeee3806" />
            <http:request method="GET" doc:name="Request" doc:id="dc6d9769-2615-4399-98e8-547a207e355f" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams.region,
	"city" : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
